<!--<h1>Artworks</h1>

<table>
  <thead>
    <tr>
      <th>Caption</th>
      <th>Description</th>
      <th>Picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @artworks.each do |artwork| %>
      <tr>
        <td><%= artwork.caption %></td>
        <td><%= artwork.description %></td>
        <td><%= image_tag artwork.picture_url(:thumb).to_s %></td>
        <td><%= link_to 'Show', artwork %></td>
        <td><%= link_to 'Edit', edit_artwork_path(artwork) %></td>
        <td><%= link_to 'Destroy', artwork, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!--<%= link_to 'New Artwork', new_artwork_path %>-->
<%# if !artist_signed_in? %>
<!--<div class='jumbotron'>-->
<!-- <h1>Artworks</h1>
<p> This is a display of wonderful artworks by amazing pencil artists!</p>

<p><%= link_to 'Sign Up If You an pencil artist!', new_artist_registration_path, class: 'btn btn-primary btn-lg'%></p>
<!--<h1>Artworks</h1>-->
<%# end %>
<!--
<% @artworks.in_groups_of(3) do |group| %>
<div class="row row-magic">
  <% group.compact.each do |artwork| %>
  <div class="col-md-4">
   <%= link_to((image_tag artwork.picture_url, width: '100%'), artwork) if artwork.picture.present?%>
   <!--  <%= image_tag artwork.picture_url(:thumb).to_s if artwork.picture.present?%>
   <h4><%= link_to artwork.caption, artwork %></h4>


   <%= artwork.description %>
   <table>
    <tbody>
      <tr>
        <td>   </td>
      </tr>
    </tbody>
  </table>

  <% artwork.reviews.each do |t| %>
  <h4><%= link_to 'Comment', artwork%></h4>

  <%= t.comment %>

  <h4><%= link_to 'Rating', artwork%></h4>
  <%= t.rating %>
  <% end %>

 

</div>
<% end %>
</div>
<% end %>
-->

<h3>ARTWORKS</h3>
<div class="row">
            <form class="bs-example bs-example-form" role="form">
             <div class="row">
               <div class="col-md-4 col-md-offset-3 search">
                 <div class="input-group">
                   <%= form_tag url: 'problems', method: :get do %>
                   <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "search"%>
                   <span class="input-group-btn">
                     <%= submit_tag "Search", class: "btn btn-default" %>
                     <% end %>
                   </span> 
                 </div>
               </div>
             </div>
           </form>
         </div>

<ul class="thumbnails thumbnails-1 list-services">
  <% @artworks.each do |artwork| %>
  <li class="span4">
    <%= link_to artwork_path(artwork) do %>
    <div class="thumbnail thumbnail-1"> <%= image_tag artwork.picture_url, :class => 'thumbnails-images'%>
      <section><!-- <a href="#" class="link-1">--><%= artwork.caption %></a>
        <p><%= artwork.description %></p>

        <% if @artworks.blank? %>
        <h4> No artworks as at yet, please click to add a new artwork!</h4>
        <% else %>
        <% artwork.reviews.each do |t| %>
        <h2><%= link_to 'Comment', artwork%></h2>

        <%= t.comment %>
        <% end %>
        <% end %>

      </section>
    </div>
    <% end %>
  </li>
  <% end %>

<!-- 

              <li class="span4">
            <div class="thumbnail thumbnail-1"> <img  src="page2-img2.jpg" alt="">
                  <section> <a href="#" class="link-1">At vero eos et accusamus et iusto </a>
                <p>Deleniti atque corrupti quos dolores molestias excepturi sint occaecati cupiditate nonprovident similique sunt in culpa.</p>
              </section>
                </div>
          </li>
              <li class="span4">
            <div class="thumbnail thumbnail-1"> <img  src="page2-img3.jpg" alt="">
                  <section> <a href="#" class="link-1">At vero eos et accusamus et iusto </a>
                <p>Deleniti atque corrupti quos dolores molestias excepturi sint occaecati cupiditate nonprovident similique sunt in culpa.</p>
              </section>
                </div>
          </li>
              <li class="span4">
            <div class="thumbnail thumbnail-1"> <img  src="img/page2-img4.jpg" alt="">
                  <section> <a href="#" class="link-1">At vero eos et accusamus et iusto </a>
                <p>Deleniti atque corrupti quos dolores molestias excepturi sint occaecati cupiditate nonprovident similique sunt in culpa.</p>
              </section>
                </div>
          </li>
              <li class="span4">
            <div class="thumbnail thumbnail-1"> <img  src="page2-img5.jpg" alt="">
                  <section> <a href="#" class="link-1">At vero eos et accusamus et iusto </a>
                <p>Deleniti atque corrupti quos dolores molestias excepturi sint occaecati cupiditate nonprovident similique sunt in culpa.</p>
              </section>
                </div>
          </li>
              <li class="span4">
            <div class="thumbnail thumbnail-1"> <img  src="page2-img6.jpg" alt="">
                  <section> <a href="#" class="link-1">At vero eos et accusamus et iusto </a>
                <p>Deleniti atque corrupti quos dolores molestias excepturi sint occaecati cupiditate nonprovident similique sunt in culpa.</p>
              </section>
                </div>
              </li> -->
            </ul>