<!--<p id="notice"><%= notice %></p>

<p>
	<strong>Caption</strong>
	<%= @artwork.caption %>
</p>

<p>
<strong>Picture:</strong
	<%= image_tag(@artwork.picture_url, :width => 600) if @artwork.picture.present? %>
</p>

<p>
	<strong>Description:</strong>
	<%= @artwork.description %>
</p>



<%= link_to 'Edit', edit_artwork_path(@artwork) %> |
<%= link_to 'Back', artworks_path %>-->

<p id="notice"><%= notice %></p>

<!--<div class="row">
  <div class="col-md-9">
    <%= image_tag(@artwork.picture_url, width: '70%') if @artwork.picture.present? %>
  </div>

  <div class="col-md-3">
    <p><b></b><%= @artwork.caption %></p>
    <p><b>Description: </b><%= @artwork.description %></p>  
    <p>
      <%= link_to 'Edit', edit_artwork_path(@artwork) %> |
      <%= link_to 'Destroy', @artwork, data: { confirm: 'Are you sure?' }, method: :delete %> |
      <%= link_to 'Back', artworks_path %>
    </p>
  </div>
</div>-->

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6"> 
        <%= image_tag(@artwork.picture_url, width: '70%') if @artwork.picture.present? %>
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong><%= @artwork.caption%></strong></td>
              </tr>tr>
              <tr>
                <td><strong>Description:</strong></td>
                <td><%= @artwork.description %></td>
                
              </tr>

              <h2>Add a comment:</h2>
              <%= form_for([@artwork, @artwork.reviews.build]) do |f| %>
              <p>
                <%= f.label :comment %><br>
                <%= f.text_field :comment%>
              </p>
              <p>
                <%= f.label :rating %><br>
                <%= f.text_area :rating %>
              </p>
              <p>
                <%= f.submit %>
              </p>
              <% end %>



            <!-- <%= form_for([@artist, @artwork]) do |f| %>
              <div class="field">
                <%= f.label :comment %><br>
                <%= f.text_field :comment %>
              </div>
              <div class="field">
                <%= f.label :rating %><br>
                <%= f.text_area :rating %>
              </div>
              <div class="actions">
                <%= f.submit %>
              </div>
              <%end%>
                <!--<tr>
                  <td><strong>Rating:</strong></td>
                  <td><strong><%= @artwork.rating%></strong></td>
                
                </tr>
                <tr>
                  <td><strong>Comment:</strong></td>
                  <td><%= @artwork.comment %></td>
                </tr>-->
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p>
    <%= link_to 'Edit', edit_artwork_path(@artwork) %> |
    <%= link_to 'Destroy', @artwork, data: { confirm: 'Are you sure?' }, method: :delete %> |
    <%= link_to 'Back', artworks_path %>
  </p>



